* {
    box-sizing: border-box;
}

:root {
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 48px;
}

body {
    font-family: "Overpass", sans-serif;
    background-color: #f8f8f8;
    text-align: center;
}

.main-container {
    max-width: 750px;
    width: 100%;
    margin: auto;
    padding: 0 var(--spacing-sm);
}

.task-container {
    display: flex;
    width: 100%;
    max-width: 750px;
    margin: var(--spacing-lg) auto 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
}

#taskInput {
    flex: 1;
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: 25px;
    border: none;
    border-radius: 12px 0 0 12px;
    outline: none;
}

#addTaskBtn {
    background: linear-gradient(to right, #07FDFD, #4d69fe, #CC00FF);
    color: white;
    text-transform: uppercase;
    padding: 0 var(--spacing-sm);
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    transition: background 0.4s ease;
}

#addTaskBtn:hover {
    background: linear-gradient(to right, #CC00FF, #4d69fe, #07FDFD);
}

#addTaskBtn:focus {
    outline: 2px solid #4d69fe;
}

#taskInput:focus {
    outline: none;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: var(--spacing-xl);
    background: linear-gradient(
    to right,
    #00fff7 0%,
    #2e65ff 25%,
    #8a2be2 50%,
    #e100ff 75%,
    #00fff7 100%
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* Lista de tarefas */
#taskList {
    list-style: none;
    padding: 0;
    margin-top: var(--spacing-md);
}

#taskList li {
    background-color: white;
    padding: var(--spacing-sm);
    margin-top: var(--spacing-sm);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    text-align: left;
    flex: 1;
}

.completed {
    text-decoration: line-through;
    color: rgb(151, 151, 151);
}

/* Ícones */
.icon {
    width: 24px;
    height: 24px;
    margin-left: var(--spacing-xs);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon:hover {
    transform: scale(1.1);
}

button {
    border: none;
    background: transparent;
    padding: var(--spacing-xs);
    cursor: pointer;
}

button img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
}

@media (max-width: 600px) {
    .task-container {
        flex-direction: column;
        align-items: stretch;
        border-radius: 12px;
    }

    #taskInput {
        border-radius: 12px 12px 0 0;
        font-size: 20px;
        
    }

    #addTaskBtn {
        width: 100%;
        border-radius: 0 0 12px 12px;
        font-size: 18px;
    }
}

body {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}